<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="UMT.Database" value="master" />
			<setting name="UMT.DataFolder" value="$(dataFolder)/UMT" />
			<setting name="UMT.DataFolderDateFormat" value="yyyy-MM-dd HH-mm-ss" />
		</settings>
		<pipelines>
			<extractItems>
				<processor type="UMT.Sitecore.Pipelines.ExtractItems.ReadItems, UMT.Sitecore" />
				<processor type="UMT.Sitecore.Pipelines.ExtractItems.MapItems, UMT.Sitecore" />
				<processor type="UMT.Sitecore.Pipelines.ExtractItems.SerializeItems, UMT.Sitecore" />
			</extractItems>
			<extractTemplates>
				<processor type="UMT.Sitecore.Pipelines.ExtractTemplates.ReadTemplates, UMT.Sitecore">
					<includeTemplatePaths hint="list">
						<!--feature>/sitecore/templates/Feature</feature-->
						<project>/sitecore/templates/Project</project>
						<userDefined>/sitecore/templates/User Defined</userDefined>
					</includeTemplatePaths>
					<excludeTemplatePaths hint="list">
						<projectParameters>/sitecore/templates/Project/Common/Parameters</projectParameters>
					</excludeTemplatePaths>
				</processor>
				<processor type="UMT.Sitecore.Pipelines.ExtractTemplates.MapTemplates, UMT.Sitecore" />
				<processor type="UMT.Sitecore.Pipelines.ExtractTemplates.SerializeTemplates, UMT.Sitecore" />
			</extractTemplates>
		</pipelines>
		<umt>
			<channelMapping type="UMT.Sitecore.Configuration.ChannelMapping, UMT.Sitecore">
				<channels hint="raw:AddChannel">
					<channel name="website" displayName="Website Pages" channelType="0" id="ec57c742-2ff5-4216-8b47-07b4ec00b1a6" />
				</channels>
			</channelMapping>
			<fieldTypeMapping type="UMT.Sitecore.Configuration.FieldTypeMapping, UMT.Sitecore">
				<fieldTypes hint="raw:AddFieldType">
					<!-- If a Sitecore field type is not listed here, it will be skipped -->
					<fieldType typeName="Checkbox" columnType="boolean" controlName="Kentico.Administration.Checkbox" 
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="Date" columnType="date" controlName="Kentico.Administration.DateInput" 
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="Datetime" columnType="datetime" controlName="Kentico.Administration.DateTimeInput" 
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="File" columnType="contentitemasset" controlName="Kentico.Administration.ContentItemAssetUploader" 
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="Image" columnType="contentitemasset" controlName="Kentico.Administration.ContentItemAssetUploader"
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="Integer" columnType="integer" controlName="Kentico.Administration.NumberInput"
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="Multi-Line Text" columnType="longtext" controlName="Kentico.Administration.TextArea" 
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="Number" columnType="decimal" controlName="Kentico.Administration.DecimalNumberInput"
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="Rich Text" columnType="longtext" columnSize="0" controlName="Kentico.Administration.RichTextEditor" 
					           type="UMT.Sitecore.Converters.RichTextFieldTypeConverter, UMT.Sitecore" />
					<fieldType typeName="Single-Line Text" columnType="longtext" columnSize="0" controlName="Kentico.Administration.TextInput" 
					           type="UMT.Sitecore.Converters.DefaultFieldTypeConverter, UMT.Sitecore" />
				</fieldTypes>
			</fieldTypeMapping>
			<fieldMapping type="UMT.Sitecore.Configuration.FieldMapping, UMT.Sitecore">
				<excludedFields hint="raw:AddExcludedField">
					<field id="fd4e2050-186c-4375-8b99-e8a85dd7436e" name="__Enable item fallback" />
					<field id="61cf7151-0cbd-4db4-9738-d753a55a6e65" name="__Enforce version presence" />
					<field id="f7d48a55-2158-4f02-9356-756654404f73" name="__Standard values" />
					<field id="d3ae7222-425d-4b77-95d8-ee33ac2b6730" name="__Context Menu" />
					<field id="b5e02ad9-d56f-4c41-a065-a133db87bdeb" name="__Display name" />
					<field id="a0cb3965-8884-4c7a-8815-b6b2e5ced162" name="__Editors" />
					<field id="39c4902e-9960-4469-aeef-e878e9c8218f" name="__Hidden" />
					<field id="9c6106ea-7a5a-48e2-8cad-f0f693b1e2d4" name="__Read Only" />
					<field id="0c894aab-962b-4a84-b923-cb24b05e60d2" name="__Ribbon" />
					<field id="079afcfe-8aca-4863-bda7-07893541e2f5" name="__Skin" />
					<field id="ba3f86a2-4a1c-4d78-b63d-91c2779c1b5e" name="__Sortorder" />
					<field id="a791f095-2521-4b4d-bef9-21dda221f608" name="__Style" />
					<field id="6fd695e7-7f6d-4ca5-8b49-a829e5950ae9" name="__Subitems Sorting" />
					<field id="f6d8a61c-2f84-4401-bd24-52d2068172bc" name="__Originator" />
					<field id="56776edf-261c-4abc-9fe7-70c618795239" name="__Help link" />
					<field id="577f1689-7de4-4ad2-a15f-7fdc1759285f" name="__Long description" />
					<field id="9541e67d-ce8c-4225-803d-33f7f29f09ef" name="__Short description" />
					<field id="b03569b1-1534-43f2-8c83-bd064b7d782c" name="__Renderers" />
					<field id="a4879e42-0270-458d-9c19-a20af3c2b765" name="__Presets" />
					<field id="700f4aad-ad3b-4058-8673-a0cee765a1f7" name="__Content Test" />
					<field id="b8f42732-9cb8-478d-ae95-07e25345fb0f" name="__Hide version" />
					<field id="c8f93afe-bfd4-4e8f-9c61-152559854661" name="__Valid from" />
					<field id="4c346442-e859-4efd-89b2-44aedf467d21" name="__Valid to" />
					<field id="93d1b217-b8f4-462e-babf-68298c9ce667" name="__Boost" />
					<field id="8c181989-2794-4b28-8ee4-6bb5cb928dc2" name="__Boosting Rules" />
					<field id="21f74f6e-42d4-42a2-a4b4-4cefbcfbd2bb" name="__Facets" />
					<field id="83798d75-df25-4c28-9327-e8bac2b75292" name="__Insert Rules" />
					<field id="1172f251-dad4-4efb-a329-0c63500e4f1e" name="__Masters" />
					<field id="9dafca1d-d618-4616-86b8-a8acd6b28a63" name="__Bucket Parent Reference" />
					<field id="c9283d9e-7c29-4419-9c28-5a5c8ff53e84" name="__Bucketable" />
					<field id="d312103c-b36c-4ca5-864a-c85f9abda503" name="__Is Bucket" />
					<field id="f7b94d8c-a842-49f8-ab7a-2169d00426b0" name="__Should Not Organize In Bucket" />
					<field id="f2db8ba1-e477-41f5-8ef5-22eefa8d2f6e" name="__Enabled Views" />
					<field id="3607f9c7-dda3-43c3-9720-39a7a5b3a4c3" name="__Default View" />
					<field id="c0e276bb-8807-40aa-8138-e5c38b0c5dab" name="__Quick Actions" />
					<field id="9135200a-5626-4dd8-ab9d-d665b8c11748" name="__Never publish" />
					<field id="86fe4f77-4d9a-4ec3-9ed9-263d03bd1965" name="__Publish" />
					<field id="7ead6fd6-6cf1-4aca-ac6b-b200e7bafe88" name="__Unpublish" />
					<field id="52807595-0f8f-4b20-8d2a-cb71d28c6103" name="__Owner" />
					<field id="5dd74568-4d4b-44c1-b513-0af5f4cda34f" name="__Created by" />
					<field id="25bed78c-4957-4165-998a-ca1b52f67497" name="__Created" />
					<field id="8cdc337e-a112-42fb-bbb4-4143751e123f" name="__Revision" />
					<field id="badd9cf9-53e0-4d0c-bcc0-2d784c282f6a" name="__Updated by" />
					<field id="d9cf14b1-fa16-4ba6-9288-e8a174d4d522" name="__Updated" />
					<field id="a14f1b0c-4384-49ec-8790-28a440f3670c" name="__Semantics" />
					<field id="56c15c6d-fd5a-40ca-bb37-64ceec6a9bd5" name="__Archive date" />
					<field id="1d99005e-65ca-45ca-9d9a-fd7016e23f1e" name="__Archive Version date" />
					<field id="abe5d54c-59d7-41e6-8d3f-c1a3e4ec9b9e" name="__Reminder date" />
					<field id="2ed9c4d0-9eff-490d-a40a-b5d856499c40" name="__Reminder recipients" />
					<field id="bb6c8540-118e-4c49-9157-830576d7345a" name="__Reminder text" />
					<field id="c2f5b2b5-71c1-431e-bf7f-dbdc1e5a2f83" name="__Quick Action Bar Validation Rules" />
					<field id="57cbca4c-8c94-446c-b8ca-7d8dc54f4285" name="__Validate Button Validation Rules" />
					<field id="b7e5b151-b145-4ced-85c5-fbdb566dfa4d" name="__Validator Bar Validation Rules" />
					<field id="86b52eef-078e-4d9e-80bf-888287070e6c" name="__Workflow Validation Rules" />
					<field id="f47c0d78-61f9-479c-96df-1159727d32c6" name="__Suppressed Validation Rules" />
					<field id="a4f985d9-98b3-4b52-aaaf-4344f6e747c6" name="__Workflow" />
					<field id="3e431de1-525e-47a3-b6b0-1ccbec3a8c98" name="__Workflow state" />
					<field id="001dd393-96c5-490b-924a-b0f25cd9efd8" name="__Lock" />
					<field id="ca9b9f52-4fb0-4f87-a79f-24dea62cda65" name="__Default workflow" />
				</excludedFields>
			</fieldMapping>
		</umt>
		<log4net>
			<appender name="UMTFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/UMT.log.{date}.txt"/>
				<appendToFile value="true"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
				<encoding value="utf-8"/>
			</appender>
			<logger name="UMT" additivity="false">
				<level value="DEBUG"/>
				<appender-ref ref="UMTFileAppender"/>
			</logger>
		</log4net>
	</sitecore>
</configuration>